@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Oswald:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@layer base {
  html {
    font-size: 18px;
  }
  
  body {
    font-family: 'Oswald', system-ui, sans-serif;
    line-height: 1.6;
    font-weight: 400;
  }

  h1, h2, h3 {
    font-family: 'Lexend Zetta', system-ui, sans-serif;
  }
  
  p, h4, h5, h6 {
    font-family: 'Oswald', system-ui, sans-serif;
  }
}